body {
    font-family: "'Montserrat', sans-serif";
    height: 100vh;
}

.item {
    color: white;
    text-align: center;
    /* background: hsl(0, 0%, 34%);
            height: 100%; */
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
}
.heroImage{
    height: 100%;
    background-image: url(../src/wallpaper1.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    background-position: center;
}

.loghead {
    text-align: center;
    padding: 10px 5px;
    height: 90%;
    margin: 10px;
    /* border-radius: 10px; */
    /* background-color: #d3d1d133; */
    /* box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); */
}

/* .profile {
    height: 100px;
    width: 115px;
    background: url(../src/logo/Logo_Png.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: auto;
} */
.logos{
    display: inline;
}
.logoIcon{
    height: 115px;
    width:auto;
    background-position: center;
    background-size:90%;
    background-repeat: no-repeat;
    margin: auto;
    background-image: url(../src/vyapar-logo.png);
   
}

.logdet {
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.inputField {
    border: none;
    padding: 7px;
    width: 80%;
    margin: 5px 2px;
}

.inputField:focus {
    outline: none;
}

.inp-container {
    display: flex;
    border: 1px solid #00000026;
    /* border-radius: 50px; */
    margin: 6px;
    background: white;
}

.logform {
    /* font-family: 'Open Sans', sans-serif; */
    font-size: 14px;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 5;
    left: 0;
}
.Horline{
    font-size: 14px;
}
.Horline::before,
.Horline::after {
    display: inline-block;
    content: "";
    border-top: 1.5px solid #9E9E9E;
    width: 70px;
    margin: auto 16px;
    transform: translateY(-5px);

}

.logform p {
    font-size: 12px;
    margin: 3px 10px;
    text-align: start;
    margin-top: 15px;
    font-weight: bold;
}

.icon {
    padding: 10px 0;
    margin: 5px 0;
    color: #3F51B5;
    min-width: 50px;
    text-align: center;
}

.verify {
    color: black;
    float: none;
    width: 20%;
    font-weight: bold;
    font-style: italic;
    margin: auto;
    margin-right: 9px;
    text-align: center;
    font-size: 15px;
}

.bholder {
    display: block;
    margin: 5px;
    padding: 8px;
}

.bholder2 {
    /* display: flex; */
    margin: 5px;
    padding: 8px;
}

.submitButton {
    background: transparent;
    color: #007bff;
    transition: 0.2s ease;
    /* border: none; */
    box-shadow: none;
    text-transform: uppercase;
    width: 230px;
    text-align: center;
    font-size: 12px;
    border: 1.5px solid #007bff;
    padding: 10px;
    /* border-radius: 28px; */
    margin: 7px;
}

.submitButton:hover {
    background-color: #007bff;
    color:white;
    
}

.submitButton:focus {
    box-shadow: none;
}
.submitButton:focus {
    outline: none;
}

/* regbutton */
.registerButton {
    background: transparent;
    color: #e92e1c;
    transition: 0.2s ease;
    /* border: none; */
    box-shadow: none;
    text-transform: uppercase;
    width: 230px;
    text-align: center;
    font-size: 12px;
    border: 1.5px solid #e92e1c;
    padding: 10px;
    /* border-radius: 28px; */
    margin: 7px;
    margin-top: 15px;
}

.registerButton:hover {
    background-color: #e92e1c;
    color:white;
    
}

.registerButton:focus {
    box-shadow: none;
}
.registerButton:focus {
    outline: none;
}


/*  */
.forgetPassword {
    width: 70%;
    text-align: center;
    border: none;
    padding: 10px;
    color: black;
    font-weight: 600;
    border-radius: 28px;
    margin:  0 auto;
    background: white;
}
.forgetPassword:hover{
    color: #00000099;
}

.forgetPassword:focus {
    outline: none;
}


.signinlink {
    display: inline-flex;
    position: absolute;
    font-size: 14px;
    margin-top: 8px;
    text-align: center;
    left: 50%;
    bottom: 6.7%;
    width: 300px;
    margin-left: -150px
}

.closed {
    opacity: 0;
    transition: .2s ease;
    z-index: 5;
}

.opened {
    opacity: 1;
    transition: .2s ease;
    z-index: 6;
}

.signinlink p {
    margin: 0 auto;
    margin-right: 0;
}

.signinlink button {
    border: none;
    background: transparent;
    padding: 0;
    margin: 0 auto;
    margin-left: 0;
    color: #007bff;
    height: fit-content;
}

.signinlink button:focus {
    outline: none;
}

/* signup form */

.hiden {
    /* transform: translateX(50%); */
    opacity: 0;
    width: 0%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

/* social buttons*/

.social-containers {
    margin: 20px 0;
}

.social-containers a {
    border: 1px solid #DDDDDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    height: 40px;
    width: 40px;
}

.social {
    transition: 0.19s ease-in;
}

.social-containers a:hover {
    text-decoration: none;
}

.fb:hover {
    color: white;
    background-color: #3b5998;
}

.gp:hover {
    color: white;
    background-color: #db4a39;
}

.ln:hover {
    color: white;
    background-color: #0e76a8;
}

.fb {
    color: #3b5998;
    ;
}

.gp {
    color: #db4a39;
}

.ln {
    color: #0e76a8;
}

/*  */

.rightactive {
    transform: translateX(-20%);
    opacity: 0;
    width: 0%;
    transition: width 0s, 0.3s ease-in;
}

.rightactivebak {
    transform: translateX(0%);
    opacity: 1;
    width: 100%;
    transition: width 0s, 0.3s ease-in;
}

.leftactive {
    transform: translateX(0%);
    opacity: 1;
    transition: width 0s, 0.3s ease-in;
    width: 100%;
    z-index: 6;
}

.leftactivebak {
    transform: translateX(20%);
    opacity: 0;
    transition: width 0s, 0.3s ease-in;
    z-index: 3;
    width: 0%;
}

.formholder {
    position: relative;
    width: 100%;
    height: 320px;
}

.comData{
    position: absolute;
    bottom: 5px;
    margin-bottom: 6px;
    width: 200px;
    font-size: 13px;
    right: 50%;
    margin-right: -100px;
}

.comData p{
margin-bottom: 7px;
}


.comData a{
    color: black;
}


.comData a:hover{
    text-decoration: none;
}

.comData span{
    margin: 0 2px;
}